## Modding types

Description of moddable types used in Knights Province.

***

### Conventions 

* [Count (cardinality)](#Cardinality)
* [Types](#Types)

{LINKS}

---

### <a id="Count (cardinality)">Cardinality</a>

Count (aka cardinality) means how many times an attribute or a node needs or must be present.

| Count<br>(cardinality) | Meaning |
|:----------------------:|---------|
| `1` | Required in the XML. If missing, loading fails. |
| `0..1` | Optional. If omitted, the engine uses that default value. |
| `0..x` | Optional; may appear up to x times. |
| `0..N` | Optional; may appear any number of times. |
| `1..N` | Required; must appear at least once. |


### <a id="Types">Types</a>

| Type | Meaning |
|:----:|---------|
| `Boolean` | Must be `True` or `False`. |
| `Cardinal` | Hexadecimal color value written as `$AABBGGRR`. E.g. `$FF0080FF` will be orange. |
| `Float` | Floating-point value. Make sure to use `.` for delimiter of the fractional part. Delimiter is optional. E.g. `5.0` or `11`. |
| `Integer` | Numeric value. E.g. `3` or `217`. |
| `String` | Text string, usually without spaces. E.g. `stone` or `palm_tree`. |
| `String (enum)` | String value that must match one of the provided values. |
| `String (enum set)` | Comma delimited string values that must match one of the provided values. E.g. `sand,rock,snow`.|

---

{BODY}
