### Types

Description of custom Knights Province types used in the scripting.

***

{LINKS}
<br />

| Version | Type name | Elements |
| ------- | ------------------------------------ | -------------- |
{BODY}